* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Garamond, Segoe;
}
body {
  padding-top: 150px;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  padding: 10px 20px;
  z-index: 1000;
  height: 8%;
  font-size: 1.2em;
}
#navbar {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-left: auto;
}
#header-img {
  width: 100px;
}
a {
  color: white;
  text-decoration: none;
}
.nav-link:hover {
  background-color: #6600cc;
}
@media (max-width: 600px) {
  #header-img {
    width: 75px;
  }
}
section {
  padding: 15px;
  margin-top: 10px;
  display: block;
  align-items: center;
}
.c-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.b-link {
  display: flex;
  align-items: center;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
@media(min-width: 600px) {
  .fa {
    width: 4.5rem;
  }
}
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-google {
  background: #BB001B;
  color: white;
}

/* Twitter */
.fa-linkedin {
  background: #0a66c2;
  color: white;
}
.google {
  background: #BB001B;
}
.linkedin {
  background: #0a66c2;
}
.a-link {
  color: white;
  padding-right: 10px;
}
.github {
  background-color: #6e5494;
}
h1:not(cap), p:not(cap) {
  padding-bottom: 10px;
  text-align: center;
  color: black;
}
h1:not(cap) {
  font-size: 2.5em;
}
p {
  font-size: 0.875em;
}
#welcome-section {
  margin-top: -100%;
  padding-top: 104%;
  padding-bottom: 8em;
  background-image: linear-gradient(to right,#999999 , #333333);
}
#projects {
  margin-top: -10px;
background-color: #A47DAB;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.project-tile {
  width: 25%;
  height: 30rem;
  background-color: black;
  text-align: center;
  line-height: 100px;
  align-items: center;
}
.caption {
  width: 100%;
  height: 25%;
  align-items: center;
}
.caption-image1 {
  width: 100%;
  height: 75%;
  background-image: url("captionone.png");
  background-size: cover; /* Ensures the image covers the div */
  background-position: center; /* Centers the image */
}
.caption-image2 {
  width: 100%;
  height: 75%;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/16/Swiss_kmeans.svg');
  background-size: cover; /* Ensures the image covers the div */
  background-position: center; /* Centers the image */
}
.caption-image3 {
  width: 100%;
  height: 75%;
  background-image: url('landing-page.png');
  background-size: cover; /* Ensures the image covers the div */
  background-position: center; /* Centers the image */
}
.cap {
  font-size: 0.5rem;
  position: relative;
  top: -70%;
}
.caption button:hover {
  opacity: 0.7;
}
.caption button {
  background-color: black; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  top: 25%;
  max-width: 100%;
}
@media (max-width: 600px) {
  .caption button {
    font-size: 0.8rem;
  }
}
section {
    scroll-margin-top: 18vh;
}
.items {
  padding: 20px;
}
.first {
  width: 30%;
  float: left;
  padding: 20px;
  max-height: 100%;
}

.first img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.second {
  width: 70%;
  float: left;
  padding: 20px;
  max-height: 100%;
}
@media (min-width: 600px){
  .first img {
    position: relative;
    left: 5rem;
  }
  .fort {
    font-size: 1.5rem;
  }
}
.green {
  font-size: 1.5rem;
}
